<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
  <thead>
    <tr>
      <th st-sort="sitename">Site Name</th>
      <th st-sort="informationEvent">Information</th>
      <th st-sort="criticalEvent">Critical</th>
      <th st-sort="warningEvent">Warning</th>
    </tr>
    <tr>
      <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in displayedCollection">
      <td>{{row.sitename}}</td>
      <td>{{row.informationEvent}}</td>
      <td>{{row.criticalEvent}}</td>
      <td>{{row.warningEvent}}</td>
      <td><a href="#" ng-click=action()><img src="assets/images/MXview_icon.png" height="20" width="20"></a></td>
    </tr>
  </tbody>
</table>
